.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.box {
  width: 20vw;
  height: 20vw;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  } 

  .box {
    width: 40vw;
    height: 40vw;
  }
}
