.boxWrapper {
  border: 1px solid #eee;
  margin: 0 auto;
  width: 20vw;
  height: 20vw;
  .box {
    position: relative;
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 100px;
    width: 100%;
    > p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #444;
      font-size: 5rem;
    }
    .mask {
      position: absolute;
      top: 100%;
      transform: translateY(-70px);
      background-color: rgba(0, 0, 0, 0.9);
      height: 100%;
      width: 100%;
      transition: 0.5s;
      &:hover {
        top: 0;
        transform: none;
      }
      p {
        text-align: center;
        color: #fff;
        font-size: 3.3rem;
        height: 70px;
        line-height: 70px;
        &:not(:first-child) {
          width: 90%;
          margin: 10px auto 0;
          font-size: 2rem;
          height: auto;
          line-height: 1.5;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .boxWrapper {
    width: 40vw;
    height: 40vw;
    .box {
      > p {
        font-size: 3rem;
      }
      .mask {
        transform: translateY(-40px);
        p {
          font-size: 2rem;
          height: 40px;
          line-height: 40px;
          &:not(:first-child) {
            font-size: 1.5rem;
          }
        }
      }
    } 
  } 
}

.boxWrapperA {
  border: 1px solid #eee;
  width: 15vw;
  height: 15vw;
  margin: 50px 0 200px;
  .boxa {
    position: relative;
    height: 100%;
    margin-bottom: 100px;
    width: 100%;
    > p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #444;
      font-size: 3rem;
    }
    .mask {
      position: absolute;
      top: 100%;
      transform: translateY(-70px);
      background-color: rgba(0, 0, 0, 0.9);
      height: 100%;
      width: 100%;
      &:hover {
        top: 0;
        transform: none;
      }
      p {
        text-align: center;
        color: #fff;
        font-size: 2.3rem;
        height: 70px;
        line-height: 70px;
        &:not(:first-child) {
          width: 90%;
          margin: 10px auto 0;
          font-size: 1.7rem;
          height: auto;
          line-height: 1.4;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .box {
    > p {
      font-size: 3rem;
    }
    .mask {
      transform: translateY(-40px);
      p {
        font-size: 2rem;
        height: 40px;
        line-height: 40px;
        &:not(:first-child) {
          font-size: 1.5rem;
        }
      }
    }
  } 
}
