.baseBoxWrapper {
  border: 2px solid #aaa;
}

.baseBox {
  position: relative;
  height: 100%;
  width: 100%;
}

.baseMask {
  background-color: #445;
}

.boxWrapper {
  margin: 0 auto;
  width: 20vw;
  height: 20vw;
}

.box {
  overflow-y: hidden;
  margin-bottom: 100px;
  position: relative;

  /*
  & > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #444;
    font-size: 5rem;
  }
  */
}

.mask {
  position: absolute;
  top: 70%;
  height: 100%;
  width: 100%;
  background-color: #445;
  transition: 0.5s;

  &:hover {
    top: 0;
    transform: none;
  }

  p {
    text-align: center;
    color: #fff;
    font-size: 3.3rem;
    height: 70px;
    line-height: 70px;

    &:not(:first-child) {
      width: 90%;
      margin: 10px auto 0;
      font-size: 2rem;
      height: auto;
      line-height: 1.5;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  }
}

@media (max-width: 768px) {
  .boxWrapper {
    width: 40vw;
    height: 40vw;
  } 

  .box {
    > p {
      font-size: 3rem;
    }
  } 

  .mask {
    transform: translateY(-40px);

    p {
      font-size: 2rem;
      height: 40px;
      line-height: 40px;

      &:not(:first-child) {
        font-size: 1.5rem;
      }
    }
  }
}

.boxWrapperA {
  border: 1px solid #ccc;
  width: 15vw;
  height: 15vw;
  margin: 50px 0 200px;
}

.boxA {
  position: relative;
  height: 100%;
  margin-bottom: 100px;
  width: 100%;
  overflow-y: initial;
}

.boxAmask {
  position: absolute;
  top: 70%;
  background-color: #445;
  height: 100%;
  width: 100%;

  &:hover {
    top: 0;
  }

  p {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .boxWrapperA {
    width: 40vw;
    height: 40vw;
  }
}

/****************************************
*************** BoxB
****************************************/

.boxWrapperB {
  border: 1px solid #ccc;
  width: 15vw;
  height: 15vw;
  margin: 50px 0;
}

.boxBmask {
  position: absolute;
  top: 70%;
  background-color: #445;
  height: 100%;
  width: 100%;

  &:hover {
    top: 0;
  }

  p {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .boxWrapperB {
    width: 50vw;
    height: 50vw;
  }
}

/****************************************
*************** BoxC
****************************************/

.boxWrapperC {
  border: 1px solid #ccc;
  width: 15vw;
  height: 15vw;
  margin: 50px 0;
}

.boxC {
  position: relative;
  height: 100%;
  margin-bottom: 100px;
  width: 100%;
  overflow-y: hidden;
}

.boxCmask {
  position: absolute;
  top: 70%;
  background-color: #445;
  height: 100%;
  width: 100%;
  transition-duration: 0.3s;

  &:hover {
    top: 0;
  }

  p {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .boxWrapperC {
    width: 50vw;
    height: 50vw;
  }
}
