.boxWrapper {
  border: 1px solid #eee;
  margin: 0 auto;
  width: 18vw;
  height: 18vw;
}

@media screen and (max-width: 768px) {
  .boxWrapper {
    width: 45vw;
    height: 45vw;
  } 
}